#header { display: flex;
    justify-content: space-between; 
    height: 110px;
    align-items: center;
    }
    
    .myLogo{ 
        width: 70px;
        height: 70px;
        display: flex;
        margin-left: 30px;
     }
    
    .primaryNav{ 
        display: flex;
        justify-content: space-evenly;
     }
    
    #project{ 
        margin: 10px;
        padding: 5px;
        width: 130px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
     }
    
     #about{ 
         margin: 10px;
         padding: 5px;
         width: 130px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
      }
    
      #resume{ 
          margin: 10px;
          padding: 5px;
          width: 130px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
       }
       #contact{ 
           margin: 10px;
           padding: 5px;
           width: 130px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        }
    
    .search{
        margin-right: 30px;
        outline: 2px solid black;
        width: 200px;
        height: 30px;
        border-radius: 5px;
       text-align: center;
    }
    .searchgrp{
        display: flex;
    }
    .mainContent{
        display: flex;
        height: 600px;
        width: 1600px;
        justify-content: space-between;
        align-content: center;
        margin: 50px;
    }
     #imageBigmartha{
         display: flex;
         height: 600px;
         width: 788px;
         background-image: url("../images/IMG_7075\ 1.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         align-items:center;
     } 
     #marthaBio{
        display: flex;
        height: 600px;
        width: 788px;
        justify-content: center;
        align-items: center;
        font-size: large;
    } 

.subContent{
        display: flex;
        height: 300px;
        width: 1600px; 
        outline: 2px solid red;
        justify-content: space-between;
        align-content: center;
        margin: 50px;
    }
    #footer{
        outline: 2px solid red;
        display: flex;
        justify-content: space-between;
        height: 110px;
    }
.otherworks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.socialmedia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.button{
    outline: 2px solid red;
    height: 30px;
    width: 200px;
    padding: 15px;
    margin-right: 45px;
}

.caseStudy {
    display: flex;
    height: 30px;
    width: 300px;

}
